@import "../theme.less";



header {
    background-color: @violet-clair;
    border-bottom: solid 5px @violet;

    font-size: 20px;
    display: flex;
    color: white;
    align-items: center;

    img {
        width: 100px;
        margin: 15px;
        margin-left: 50px;
    }
}