@import "./theme.less";



* {
    font-family: 'font';

    body {
        margin: 0;
        background-color: @backcolor;
    }
}

@font-face {
    font-family: 'font';
    src: url('../document/Comfortaa/Comfortaa-VariableFont_wght.ttf')  format('truetype')
}