header {
    width: 100%;
    background-color: #4F5B93;
    border-bottom: solid 5px #484C89;
}



#fBandeau {
    padding: 15px;
    display: flex;
    color: white;
    align-items: center;
}
#fBandeau img {
    width: 100px;
    margin-left: 15px;
}
#fBandeau label {
    margin-left: 15px;
    font-size: 20px;
}