@import '../theme.less';



// Librairie Range
.range {
	-webkit-appearance: none;
	background-color: @dark-white;
	box-shadow: 0 2px 4px @shadow;
	overflow: hidden;
	border-radius: @radius;
	padding: 8px;
	width: 100%;
	cursor: crosshair;
}



// Librairie responsive Range
@media all and (max-width: 1000px) {
	.range {

	}
}